body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--primary-color);
  font-size: medium;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: none;
}

.popup-message {
  margin-bottom: 10px;
}

.popup-buttons {
  display: flex;
  justify-content: center;
}

.popup-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.end-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.tile {
  position: relative;
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 75px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.logo {
  width: 150px;
}

.score {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: xx-large;
}

.play-again-button {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: xx-large;
}

.play-again-button:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
  transition: background-color 0.3s ease;
}

.kickoff {
  font-weight: bold;
}
.popup {
  font-size: xx-large;
}
.popup-buttons button {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  border: none;
  border-radius: 5px;
  font-size: xx-large;
}
