body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #dd8e07;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: xx-large;
}
.container {
  position: relative;
  background-color: #ffffff;
  max-width: 75%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  padding: 20px;
  text-align: center;
}
.correct {
  color: #037b07 !important;
  margin-top: 0;
}
.incorrect{
  color: #f44336 !important;
}
h1 {
  margin: 0%, 7.2%;
}
p {
  color: #333;
  margin-bottom: 10px;
}
.new-btn {
  background-color: #dd8e07;
  color: #fff;
  border: none;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  margin: 20px 0px 5px 0px;
  border-radius: 10px;
  font-size: xx-large;
}
.new-btn:hover {
  background-color: #ffd500;
  color: #333;
}
