<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../static/Style/Portal/default.css" />
    <link rel="stylesheet" href="../../static/Style/default.css" />
  </head>
  <body>
    {% if imagesources %} {% for sourceimg in imagesources %}
    <link rel="preload" as="image" href="{{sourceimg}}" />
    {% endfor %} {% endif %}
    <img src="{{background_source}}" alt="background" class="backgroundimage" />
    <div class="orangefilter"></div>
    <div>
      <div class="container">
        <h1>Welkom bij BCO</h1>
        <h2>Wat wilt u doen</h2>
        <div class="button-container">
          <a href="/GameCenter"><button>Game center</button></a>
          <a href="/Kalender"><button>Kalender</button></a>
          <a href="/Stand"><button>Stand</button></a>
          <a href="/Uitslagen"><button>Uitslagen</button></a>
          <a href="/Team"><button>Team</button></a>
          <a href="/Feedback"><button>Recentie</button></a>
        </div>
      </div>
    </div>
  </body>
</html>
