h1 {
  margin-top: 0;
}

.container {
  max-width: 90%;
  margin-top: 20px;
  padding-bottom: 40px;
  font-size: large;
}
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
  width: 100%;
}
input[type="range"] {
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
  accent-color: var(--primary-color);
  margin-bottom: 1%;
}
#suggesties {
  width: 100%;
  color: var(--primary-color);
  background-color: var(--semi-light-color);
  border: 2px var(--primary-color) solid;
  border-radius: 10px;
}
#keyboard-container {
  height: 200px;
  padding-bottom: 10px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  touch-action: manipulation;
  padding-bottom: 0;
  margin-bottom: 0;
}

.keyboard-row button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  height: 58px;
  cursor: pointer;
  background-color: var(--semi-light-color);
  color: var(--primary-color);
  border: 1px var(--primary-color) solid;
  flex-grow: 1;
  text-transform: uppercase;
  margin-right: 6px;
  border-radius: 4px;
  user-select: none;
}

.keyboard-row button.wide-button {
  flex-grow: 1.5;
}

.spacer-half {
  flex-grow: 0.5;
}

form {
  padding-bottom: 10px;
}