<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Correct Answer</title>
    <link rel="stylesheet" href="../../static/Style/Games/WatLiever/tussenscherm.css">
  </head>
  <body>
    <img src="{{background_source}}" alt="background" class="backgroundimage" />
    <div class="container">
      <a href="/WatLiever" class="BackHome"
        ><img src="../../static/Photos/arrowBack.png" alt="Back to home"
      /></a>
      <h1>Wat wil de rest?</h1>
      <p>
        {{ ((vraag.numOptie1 / (vraag.numOptie1 + vraag.numOptie2)) * 100) |
        round }}% koos voor "{{vraag.optie1}}"
      </p>
      <p>
        {{ ((vraag.numOptie2 / (vraag.numOptie1 + vraag.numOptie2)) * 100) |
        round }}% koos voor "{{vraag.optie2}}"
      </p>
      <a href="/WatLiever/Start"
        ><button class="new-question-btn">Volgende</button></a
      >
    </div>
    <div class="provided-text">provided by</div>
    <img
      src="../../static/Photos/Logo/allsee-logo.png"
      alt="Allsee logo"
      class="AllseeLogo"
    />
  </body>
</html>
