<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Start the game</title>
    <link rel="stylesheet" href="../../static/Style/Games/WatLiever/start.css">
    <link rel="stylesheet" href="../../static/Style/default.css">
  </head>
  <body>
    <img src="{{background_source}}" alt="background" class="backgroundimage" />
    <div class="container">
      <a href="/WatLiever" class="BackHome"
        ><img src="../../static/Photos/arrowBack.png" alt="Back to home"
      /></a>
      <h1>Wat heb je liever?</h1>
      <form method="post">
        <div class="formcontainer">
          <input
            type="submit"
            name="keuze"
            value="{{ vraag.optie1 }}"
            class="eersteOptie"
          />
          <input
            type="submit"
            name="keuze"
            value="{{ vraag.optie2 }}"
            class="tweedeOptie"
          />
        </div>
      </form>
    </div>
    <div class="provided-text">provided by</div>
    <img
      src="../../static/Photos/Logo/allsee-logo.png"
      alt="Allsee logo"
      class="AllseeLogo"
    />
  </body>
</html>
