<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memory Game</title>
    <link rel="stylesheet" href="../../static/Style/Games/Memory/game.css">
    <script src="../../static/Scripts/Games/Memory/script.js" defer></script>
  </head>
  <body>
    <img src="{{background_source}}" alt="background" class="backgroundimage" />
    <div class="container">
      <div class="game-container">
        <div class="heading-container">
          <a href="/Memory" class="BackHome"
            ><img src="../../static/Photos/arrowBack.png" alt="Back to home"
          /></a>
          <h1 class="gfg-heading">Memory Game</h1>
          <div id="timer" class="timer">Tijd: 00:00</div>
          <div id="click-counter" class="klicks">Combinaties: 0</div>
        </div>
        <div class="cards-container">
          {% for card_image in card_images %}
          <div class="card item">
            <img
              class="outline-image"
              src="{{ url_for('static', filename='Photos/Games/Memory/achterkant.png') }}"
              alt="Card outline"
            />
            <img
              class="card-image"
              src="{{ url_for('static', filename="Photos/" +card_image) }}"
              alt="{{ card_image.split('/')[-1].split('.')[0] }}"
            />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="provided-text">provided by</div>
    <img
      src="../../static/Photos/Logo/allsee-logo.png"
      alt="Allsee logo"
      class="AllseeLogo"
    />
  </body>
</html>
