body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: xx-large;
}
.container {
  position: relative;
  max-width: 75%;
  min-width: 50%;
  background-color: var(--bg-color);
  border-radius: 75px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  padding: 20px;
  text-align: center;
}
h1 {
  margin-top: 0;
}
form {
  margin-top: 20px;
}
input[type="radio"] {
  margin-right: 10px;
}
input[type="submit"] {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  border: none;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  margin: 20px 0px 5px 0px;
  border-radius: 10px;
  font-size: xx-large;
}
input[type="submit"]:hover {
  background-color: var(--secondary-color);
  color: #333;
}
.answerstyle {
  transform: scale(2);
  margin: 20px;
  font-size: xx-large;
}
