<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wordle</title>
    <link rel="stylesheet" href="../../static/Style/Games/Wordle/home.css">
  </head>
  <body>
    <img src="{{background_source}}" alt="background" class="backgroundimage" />
    <div class="home-container">
      <div class="tile">
        <a href="/GameCenter" class="BackHome"
          ><img src="../../static/Photos/house.png" alt="Back to home"
        /></a>
        <img
          src="../../static/Photos/Logo/BCO-Filou-logo-voor-witte-achtergrond.png"
          alt="BCO Filou logo"
          class="logo"
        />
        <h1 class="beginText">Begin de BCO-Wordle</h1>
        <a href="/Wordle/Play"><button class="start-button">Start</button></a>
      </div>
      <div class="provided-text">provided by</div>
      <img
        src="../../static/Photos/Logo/allsee-logo.png"
        alt="Allsee logo"
        class="AllseeLogo"
      />
    </div>
  </body>
</html>
