<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Correct Answer</title>
    <link rel="stylesheet" href="../../static/Style/Games/Quiz/correct.css">
    <link rel="stylesheet" href="../../static/Style/default.css">
  </head>
  <body>
    <img src="{{background_source}}" alt="background" class="backgroundimage" />
    <div class="container">
      <a href="/Quiz" class="BackHome"
        ><img src="../../static/Photos/arrowBack.png" alt="Back to home"
      /></a>
      <h1>Correct!</h1>
      <p>Proficiat uw antwoord {{antwoord}} was juist!</p>
      <p>{{laatste_tekstje}}</p>
      <a href="/Quiz/StartQuiz"
        ><button class="new-question-btn">Volgende</button></a
      >
    </div>
    <div class="provided-text">provided by</div>
    <img
      src="../../static/Photos/Logo/allsee-logo.png"
      alt="Allsee logo"
      class="AllseeLogo"
    />
  </body>
</html>
