<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../static/Style/default.css" />
    <link rel="stylesheet" href="../../static/Style/Games/GameCenter.css" />
    <style></style>
  </head>
  <body>
    <img src="{{background_source}}" alt="background" class="backgroundimage" />
    <div>
      <div class="orangefilter"></div>
      <div class="tile">
        <div class="container">
          <h1>Welkom bij BCO-GameCenter</h1>
          <h2>Welke game wilt u spelen</h2>
          <div class="button-container">
            <a href="/"><button>Home</button></a>
            <a href="/Quiz"><button>Quiz</button></a>
            <a href="/Memory"><button>Memory</button></a>
            <a href="/Wordle"><button>Wordle</button></a>
            <a href="/QuessTransfer"><button>Raad de transfer</button></a>
            <a href="/Rebus"><button>Rebus</button></a>
            <a href="/WatLiever"><button>Wat liever?</button></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
