<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="../../static/Style/Games/tussenscherm.css">
    <link rel="stylesheet" href="../../static/Style/default.css">
    <script src="../../static/Scripts/Games/Tussenscherm.js" defer></script>
  </head>
  <body>
    <img src="{{background_source}}" alt="background" class="backgroundimage" />
    <div class="container">
      <a href={{href}} class="BackHome"
        ><img src="../../static/Photos/arrowBack.png" alt="Back to home"
      /></a>
      <h1 id="screentitle">{{title}}</h1>
      {% for lijn in inhoud %}
      <p>{{lijn}}</p>
      {% endfor %}
      <a href={{href}}
        ><button class="new-btn">Volgende</button></a
      >
    </div>
    <div class="provided-text">provided by</div>
    <img src="../../static/Photos/Logo/allsee-logo.png" alt="Allsee logo" class="AllseeLogo" />
  </body>
</html>
