body {
  align-items: start !important;
  margin: 5%;
}
.container {
  max-width: 90%;
  margin-top: 20px;
  padding-bottom: 40px;
  font-size: large;
}
h1 {
  font-size: 3em;
}
.sp-table-caption {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}
.sp-table-wrapper {
  overflow-x: auto;
}
.sp-event-list {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
}
.sp-event-list th,
.sp-event-list td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.sp-event-list th {
  background-color: #f2f2f2;
  font-weight: bold;
}
.sp-event-list tr:nth-child(even) {
  background-color: #cccaca;
}
.sp-event-list tr {
  border-top: 2px solid black;
}
.sp-event-list th {
  background-color: var(--primary-color);
}
