* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1{
  padding-left: 50px;
  padding-right: 50px;
}

#game {
  max-width: 80%;
  max-height: 95%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 75px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.BackHome {
  position: absolute;
  top: 10px;
  left: 10px;
}
.BackHome img {
  width: 50px;
}

header {
  border-bottom: 1px solid var(--text-color);
}

.title {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

#board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.square {
  border: 2px solid var(--primary-color);
  min-width: 40px;
  min-height: 40px;
  font-size: 33px;
  font-weight: bold;
  color: var(--text-color);
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}

#keyboard-container {
  height: 200px;
  padding-bottom: 30px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  touch-action: manipulation;
  padding-bottom: 0;
  margin-bottom: 0;
}

.keyboard-row button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  height: 58px;
  cursor: pointer;
  background-color: var(--semi-light-color);
  color: var(--primary-color);
  border: 1px var(--primary-color) solid;
  flex-grow: 1;
  text-transform: uppercase;
  margin-right: 6px;
  border-radius: 4px;
  user-select: none;
  padding: 10px;
}

.keyboard-row button.wide-button {
  flex-grow: 1.5;
}

.spacer-half {
  flex-grow: 0.5;
}