<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bedankt voor uw feedback</title>
    <link rel="stylesheet" href="../../static/Style/Portal/default.css" />
    <link rel="stylesheet" href="../../static/Style/default.css" />
    <link
      rel="stylesheet"
      href="../../static/Style/Feedback/feedback_thanks.css"
    />
  </head>
  <body>
    <img src="{{background_source}}" alt="background" class="backgroundimage" />
    <div class="orangefilter"></div>
    <div class="container">
      <a href="/" class="BackHome"
        ><img src="static/Photos/house.png" alt="Back to Home" width="30"
      /></a>
      <h1>Danku!</h1>
      <p>Bedankt voor uw feedback.</p>
    </div>
  </body>
</html>
