<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Feedback</title>
    <link rel="stylesheet" href="../../static/Style/Portal/default.css" />
    <link rel="stylesheet" href="../../static/Style/default.css" />
    <link rel="stylesheet" href="../../static/Style/Feedback/feedback.css" />
  </head>
  <body>
    <div class="navigation">
      <a href="/"
        ><img src="static/Photos/house.png" alt="Back to Home" width="30"
      /></a>
    </div>
    <div class="container">
      <h1>Feedback</h1>
      <form method="post">
        <label for="aankoop">Verliep het aankoopproces vlot?</label>
        <input
          type="range"
          id="aankoop"
          name="aankoop"
          min="1"
          max="5"
          value="3"
          step="1"
        />
        <label for="randanimatie">Wat vond je van de randanimatie?</label>
        <input
          type="range"
          id="randanimatie"
          name="randanimatie"
          min="1"
          max="5"
          value="3"
          step="1"
        />
        <label for="suggesties">Suggesties</label>
        <textarea
          id="suggesties"
          name="suggesties"
          rows="4"
          cols="50"
        ></textarea>
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
